#root {
    background-color: slategray;
}

body {
    background-color: slateblue;
    color: rgb(187, 187, 187);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: aqua;
}

nav {
    background-color: slateblue;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: slateblue;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.NavLinks {
    display: flex;
    justify-content: space-around;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    width: 200px;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    width: 50px;
}

.cart-widget-right{
    margin-left: auto;
}

.itemcart {
    font-size: small;
    color: #fff;
    background-color: slategray;
    border: 1px dotted black;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin: 10px 5px 18px 5px;
}

.saludo {
    text-align: center;
}